# Dependencies
node_modules/

# Expo / React Native
.expo/
dist/
web-build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.DS_Store

# Native builds
android/
ios/

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# Test coverage
coverage/
